.button {
  background-color: rgb(1, 81, 81);
  margin: 20px 0 0 14px;
  border-radius: 20px;
  transition: all 0.3s;
}
.active {
  background-color: blue;
}

.button:disabled{
  cursor: not-allowed;
}
